<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

   <!-- ################################# Listener ##################################### -->
    
    <listener>
        <listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
    </listener>
    
    <listener>
        <listener-class>
            com.fortis.be.ilms.server.feature.management.IlmsServletContextListener
        </listener-class>
    </listener>
    
	<!-- ################################# Servlets #################################### -->
	
	<servlet>
		<servlet-name>ILMSServlet</servlet-name>
		<servlet-class>
			com.fortis.be.ilms.server.IlmsModuleRemoteServiceImpl
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ILMSServlet</servlet-name>
		<url-pattern>/be_fortis_ilms_web/ilmsService</url-pattern>
	</servlet-mapping>
	
		
	<servlet>
		<servlet-name>PositionModuleRpc</servlet-name>
		<servlet-class>
			com.fortis.be.ilms.server.PositionModuleRpcServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>PositionModuleRpc</servlet-name>
		<url-pattern>/be_fortis_ilms_web/positionService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CommonModuleRpc</servlet-name>
		<servlet-class>
			com.fortis.be.ilms.server.CommonModuleRpcServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommonModuleRpc</servlet-name>
		<url-pattern>/be_fortis_ilms_web/commonService</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AccountModuleRpc</servlet-name>
		<servlet-class>
			com.fortis.be.ilms.server.AccountModuleRpcServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AccountModuleRpc</servlet-name>
		<url-pattern>/be_fortis_ilms_web/accountService</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet that handle report requests -->
	<servlet>
		<servlet-name>PositionReport</servlet-name>
		<servlet-class>
			com.fortis.be.ilms.server.ReportServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PositionReport</servlet-name>
		<url-pattern>
			/be_fortis_ilms_web/positionReport
		</url-pattern>
	</servlet-mapping>	

    <!-- Servlet that handle RESERVE requests -->
    <servlet>
        <servlet-name>ReserveModuleRpc</servlet-name>
        <servlet-class>
            com.fortis.be.ilms.server.ReserveModuleRpcServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReserveModuleRpc</servlet-name>
        <url-pattern>/be_fortis_ilms_web/reserveService</url-pattern>
    </servlet-mapping>	
	
    <servlet>
        <servlet-name>EnvironmentsServlet</servlet-name>
        <servlet-class>
            com.fortis.be.ilms.server.feature.management.EnvironmentsServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnvironmentsServlet</servlet-name>
        <url-pattern>
            /monitor/environmentsServlet
        </url-pattern>
    </servlet-mapping>   
    
	<!-- Allow to change LOG4J configuration at runtime  -->
	<servlet>
       <servlet-name>log4jConf</servlet-name>
       <servlet-class>it.openutils.log4j.Log4jConfigurationServlet</servlet-class>
    </servlet>   
    <servlet-mapping>
        <servlet-name>log4jConf</servlet-name>
        <url-pattern>/monitor/log4j</url-pattern>       
    </servlet-mapping>	
           
    <!-- ################################# Welcome File #################################### -->
	
	

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>BE_FORTIS_ILMS_WEB.jsp</welcome-file>
	</welcome-file-list>
	
	
	
	<!-- ################################# Non-local specific #################################### -->
	
	

	<!-- Data Source  -->
	<resource-ref id="ResourceRef_db">
		<description></description>
		<res-ref-name>jdbc/ILMS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<!-- Security Constraint  -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Role ILMS01</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ILMS01</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Role ILMS02</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ILMS02</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Role ILMS03</web-resource-name>
			<url-pattern>/adjustment/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ILMS03</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Role ILMS04</web-resource-name>
			<url-pattern>/monitor/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>ILMS04</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>default</realm-name>
	</login-config>

	<security-role>
		<role-name>ILMS01</role-name>
	</security-role>
	<security-role>
		<role-name>ILMS02</role-name>
	</security-role>
	<security-role>
		<role-name>ILMS03</role-name>
	</security-role>
	<security-role>
		<role-name>ILMS04</role-name>
	</security-role>
	
</web-app>
