<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Listener -->
	<listener>
		<listener-class>
			com.moogu.myweb.server.feature.management.IlmsServletContextListener
        </listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>LoginModuleRemoteServiceImpl</servlet-name>
		<servlet-class>
			com.moogu.myweb.server.LoginModuleRemoteServiceImpl
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginModuleRemoteServiceImpl</servlet-name>
		<url-pattern>/mywebapp/loginService</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>CommonModuleRpc</servlet-name>
		<servlet-class>
			com.moogu.myweb.server.CommonModuleRpcServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommonModuleRpc</servlet-name>
		<url-pattern>/mywebapp/commonService</url-pattern>
	</servlet-mapping>


	<!-- Servlet that handle RESERVE requests -->
	<servlet>
		<servlet-name>ReserveModuleRpc</servlet-name>
		<servlet-class>
			com.moogu.myweb.server.ReserveModuleRpcServlet
        </servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReserveModuleRpc</servlet-name>
		<url-pattern>/mywebapp/reserveService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EnvironmentsServlet</servlet-name>
		<servlet-class>
			com.moogu.myweb.server.feature.management.EnvironmentsServlet
        </servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnvironmentsServlet</servlet-name>
		<url-pattern>
			/monitor/environmentsServlet
        </url-pattern>
	</servlet-mapping>



	<!-- Allow to change LOG4J configuration at runtime -->
	<servlet>
		<servlet-name>log4jConf</servlet-name>
		<servlet-class>it.openutils.log4j.Log4jConfigurationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>log4jConf</servlet-name>
		<url-pattern>/monitor/log4j</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>